
<form [formGroup]="fromLogin" (ngSubmit)="onSubmit()">

 

    <input formControlName='name' placeholder="enter name"    />
    
    <input formControlName='password' placeholder="enter name"    />
    <!-- <select formControlName='name'>

        <option *ngFor="let name" [ngValue]="name">{{name.title}}</option>
    </select> -->

    <!-- <select formControlPassword='password'>

        <option *ngFor="let password" [ngValue]="password">{{password.title}}</option>
    </select> -->




</form>
